<div class="w3-black custom-led">
  <div class="w3-row align-center">
    <div class="w3-half">
      <img src="assets/img/led-board.jpg" alt="LED Poster Board" style="width:80%" />
    </div>
    <div class="w3-half">
      <h1>LED boards for advertising, Greek life, parties, and more</h1>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSciEhFHM6mADbKcVxst4JtgvKt6LT7bj6_3w3xfvwz7W_0IRg/viewform?usp=sf_link"
        class="w3-btn w3-white"
        target="_blank"
        rel="noopener"
      >
        Inquire now
      </a>
    </div>
  </div>
</div>
