<div class="w3-row">
  @for (row of cardRows; track row) {
    <div class="w3-row">
      @for (card of row; track card) {
        <div
          class="w3-col m4 l3"
          style="float: left; height: 100%"
        >
          <div class="w3-margin" style="height: 100%">
            @if (card.a === undefined) {
              @if (card.route === undefined) {
                <app-card [card]="card" />
              }
              @else {
                <a routerLink="{{ card.route }}">
                  <app-card [card]="card" />
                </a>
              }
            }
            @else if (card.route === undefined) {
              <a [href]="card.a" target="_blank" rel="noopener">
                <app-card [card]="card" />
              </a>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
