<div class="w3-bar w3-theme-d4">
  <a href="https://github.com/isaact23" target="_blank" rel="noopener" class="w3-bar-item w3-button">
      Github
  </a>
  <a href="https://www.linkedin.com/in/isaact23/" target="_blank" rel="noopener" class="w3-bar-item w3-button">
      LinkedIn
  </a>
  <a href="https://devpost.com/isaact23" target="_blank" rel="noopener" class="w3-bar-item w3-button">
      Devpost
  </a>
  <a href="https://shufflesninja.itch.io/" target="_blank" rel="noopener" class="w3-bar-item w3-button">
      itch.io
  </a>
  <a href="https://www.thingiverse.com/shufflesninja/designs" target="_blank" rel="noopener" class="w3-bar-item w3-button">
      Thingiverse
  </a>
  <a href="https://www.youtube.com/channel/UCJVMr_cwU9fP3LyQv5DePrw" target="_blank" rel="noopener" class="w3-bar-item w3-button">
      YouTube
  </a>
</div>