
<div class="w3-container">
    <div class="w3-row">
        <div
            *ngFor="let card of cards"
            class="w3-quarter"
            style="float:left"
        >
            <!-- Only use the a element if the card has a link.
                 Maybe there is a better way to do this.        -->
            <div class="w3-margin">
                <div *ngIf="card.a === undefined; else doLink">
                    <app-home-card [card]="card" />
                </div>
                <ng-template #doLink>
                    <a href="{{card.a}}" target="_blank" rel="noopener">
                        <app-home-card [card]="card" />
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="w3-col m4 l3">
  <a href="https://isaact.net/custom-led" target="_blank" rel="noopener">
      <div class="w3-card-4 w3-margin w3-padding-large w3-center w3-round-large">
          <img src="assets/img/led-board.jpg"
              alt="Custom LED boards: A poster board with LED strips and decorations"
              style="width: 100%"
          />
          <h1>Custom LED Boards</h1>
          <p>Parties, Greek Life, Advertising, et al</p>
      </div>
  </a>
  <a href="https://github.com/isaact23/its-a-me" target="_blank" rel="noopener">
      <div class="w3-card-4 w3-margin w3-padding-large w3-center w3-round-large">
          <img src="assets/img/its-a-me.jpg"
              alt="A Mario-style Halloween setup with colored lights"
              style="width:100%"
          />
          <h1>its-a-me</h1>
          <p>A Halloween Mario game</p>
      </div>
  </a>
</div>
<div class="w3-col m4 l3">
  <a href="https://isaact.net/gba-helper" target="_blank" rel="noopener">
      <div class="w3-card-4 w3-margin w3-padding-large w3-center w3-round-large" style="image-rendering: pixelated;">
          <img src="assets/img/gba-helper.png" alt="GBA helper icon" style="width:100%"/>
      </div>
  </a>
  <a href="https://shufflesninja.itch.io/cavemen" target="_blank" rel="noopener">
      <div class="w3-card-4 w3-margin w3-padding-large w3-center w3-round-large">
          <img src="assets/img/cavemen.png"
              alt="Caveman running toward camera with red-bold text 'Cavemen'"
              style="width: 100%"
          />
          <h1>Cavemen</h1>
          <p>An underground horror game</p>
      </div>
  </a>
  <a href="https://github.com/isaact23/squidgame" target="_blank" rel="noopener">
      <div class="w3-card-4 w3-margin w3-padding-large w3-center w3-round-large">
          <img src="assets/img/squidgame.png"
              alt="Neon-LED pressure plates on the ground emulating Squidgame's glass stepping stones"
              style="width:100%"
          />
          <h1>squidgame</h1>
          <p>A real-life version of Glass Stepping Stones</p>
      </div>
  </a>
</div>
<div class="w3-col m4 l3">
  <a href="https://github.com/isaact23/catsvsratsgba" target="_blank" rel="noopener">
      <div class="w3-card-4 w3-margin w3-padding-large w3-center w3-round-large">
          <img src="assets/img/catsvsratsgba.png"
              alt="GameBoy Advance with Cats vs. Rats custom game"
              style="width:100%"
          />
          <h1>Cats vs Rats GBA</h1>
      </div>
  </a>
  <a href="https://gaming-project-at-vt.itch.io/cats-vs-rats" target="_blank" rel="noopener">
      <div class="w3-card-4 w3-margin w3-padding-large w3-center w3-round-large">
          <div class="showcase-image">
              <img src="assets/img/catsvsrats.png"
                  alt="Tower defense game with cats and rats"
                  style="width:100%"
              />
          </div>
          <h1>Cats vs Rats</h1>
          <p>A game jam game</p>
      </div>
  </a>
</div>