
<div class="w3-container">
    <div class="w3-row">
        <div
            *ngFor="let card of cards"
            class="w3-quarter"
            style="float:left"
        >
            <!-- Only use the a element if the card has a link.
                 Maybe there is a better way to do this.        -->
            <div class="w3-margin">
                <div *ngIf="card.a === undefined; else doLink">
                    <app-home-card [card]="card" />
                </div>
                <ng-template #doLink>
                    <a href="{{card.a}}" target="_blank" rel="noopener">
                        <app-home-card [card]="card" />
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>
